nav {
    display: flex;
}
.nav-btn {
	visibility: hidden;
	opacity: 0;
}

nav div,
ul {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	nav .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	nav ul {
        z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		height: 50vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #818cf8;
		transition: 1s;
		transform: translateY(-50vh);
	}

	nav .responsive-nav {
        z-index: 100;
		transform: none;
	}

    nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		/* right: 6.5rem; */
		right: 23%;
	}

}