@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 span {
 
    /* font-size: 72px; */
    /* background: -webkit-linear-gradient(45deg, #ab47bc, #e040fb, #ea80fc); */
    /* background: -webkit-linear-gradient(45deg, #3378F8, #42a5f5, #A0BEF8); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
 
}


.text-stroked {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  /* background: linear-gradient(#42a5f5, #A0BEF8);
  background: linear-gradient(#f5a742, #f5a742); */
  /* background: linear-gradient(45deg, #42a5f5, #A0BEF8); */
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: #818cf8;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(74, 74, 74);
  -webkit-text-stroke-color: transparent;

  letter-spacing: 0.8px;


  /* -webkit-text-fill-color: #ED4782;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.border-gradient {
  background: 
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(to right, #ED4782, #EF4C40, #EBA60F) border-box;
  color: #313149;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 15px;
  display: inline-block;
  /* margin: 75px 0; */
}

/* .border-gradient {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #ED4782, #EF4C40, #EBA60F) 1;
} */

.background {
  /* background: linear-gradient(to right bottom, #fcefff, #effdfd); */
  background: #fcefff;
}
/* .background {
  background: linear-gradient(to right bottom, #A0BEF8, #B5F0F0);
} */
/* .background {
  background: linear-gradient(to right bottom, #FDE7EA, #FDEFDA);
} */

.glass {
  position: relative;
  background: white;
  /* min-height: 100vh; */
  min-width: 100vw;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.3));
  z-index: 2;
  backdrop-filter: blur(8rem);
  z-index: 5;
}

.circle1, .circle2 {
  background: white;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 0.9),
  rgba(255, 255, 255, 0.1));
  height: 40rem;
  width: 40rem;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.circle1 {
  top: 5%;
  right: 15%;
  background: #dce8ff;
}
.circle2 {
  bottom: 5%;
  left: 15%;
  background: #f1e3ff;
}

html {
  scroll-behavior: smooth;
  /* filter: invert() hue-rotate(180deg); */
}

h1, h2, h3, p, li, a {
  color: #313149;
}

.logo {
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Karla', sans-serif;

  letter-spacing: 0.5px;


  font-size: 1.7rem;
}

li {
  font-family: 'Karla', sans-serif;
  position: relative;
}

ul a::before {
  content: "";
  width: 50%;
  height: 1.5px;
  background-color: #818cf8;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) scaleX(0%);
  border-radius: 5px;
  transition: transform .3s ease;
}

a:hover::before {
  transform: translate(-50%) scaleX(1);
}

/* nav span {
  display: inline-block;
  font-family: 'Grand Hotel', cursive;
  margin-top: 0.6rem;
  font-size: 2.5rem;

} */

/* .custom-color {
  background-color: #3378F8;
} */

h1, h2 {
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Karla', sans-serif;

}

h1 {
  font-weight: 400;
  letter-spacing: 1px;

}

h2 {
  font-weight: 900;
}

h3 {
  color: #4b5563;
  font-family: 'Karla', sans-serif;

}

body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Rubik', sans-serif;


  /* NON HA DIFFERENZA DI ALTEZZA TRA MINUSCOLA E MAIUSCOLA */
  /* font-family: 'Martel Sans', sans-serif; */
}

h1 {

    /* font-weight: 900; */
    /* font-size: 0.2rem; */
}

.container-wrapper {
  position: relative;
}

p {
  color: #475569;
  /* color: #333; */
}

/* .wrapper::after {
  border: 2px solid #1D51D8;
  top: 20px;
  left: 20px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
} */

.wrapper::after {
  
  /* transition: all 1s; */
}


.highlight {
  /* border-radius: 6px; */
  /* border-radius: 1em 0 1em 0; */
  border-radius: 20% 5% 20% 24%;

  padding: 3px 6px;
}

/* .blue {
  background-image: linear-gradient(45deg, #42a5f5, #A0BEF8);
} */

/* .yellow {
  background-image: linear-gradient(45deg, #f5d442, #f5eaaa);
} */

/* .project-description {
  position: relative;
}


.project-description::before {
  content: '';
  position: absolute;
  background: #1D4ED8;
  width: 2px;
  height: 100%;
  bottom: 0;
  left: 0;
} */

/* .anim {
  transform: translateY(-100px);
  opacity: 0;
} */


@keyframes anim1 {
  from {transform: translateY(-100px); opacity: 0;}
  to {transform: translateY(0px); opacity: 1;}
}




.btn {
  /* border: 2px solid currentColor; */
  /* color: #818cf8; */
  overflow: hidden;
  /* padding: 1rem 2rem; */
  position: relative;
  /* text-decoration: none; */
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.btn::after {
	background-color: #818cf8;
  border-radius: 0.2rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  transform-origin: left;
  transition: .4s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.btn:hover {
  /* border: 2px solid transparent; */
  /* color: white; */
  /* transform: scale(1.05); */
  will-change: transform;
}


.btn:hover:after {
  transform: translate(0, 0);
}





.wrap-img img {
  max-height: 360px;
  width: 100%;
  object-fit: contain;
}