@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* questo mettilo in tailwind */
.text-stroked {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  letter-spacing: 0.8px;
  color: #818cf8;
}



/* .background {
  background: #fcefff;
}

.glass {
  position: relative;
  background: white;
  min-width: 100vw;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.3));
  z-index: 2;
  backdrop-filter: blur(8rem);
  z-index: 5;
}

.circle1, .circle2 {
  background: white;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 0.9),
  rgba(255, 255, 255, 0.1));
  height: 40rem;
  width: 40rem;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.circle1 {
  top: 5%;
  right: 15%;
  background: #dce8ff;
}
.circle2 {
  bottom: 5%;
  left: 15%;
  background: #f1e3ff;
} */



h1, h2, h3, p, li, a {
  color: #313149;
}

.border-size-custom {
  border: 1px solid #475569;
}

/* metti alcune cose in tailwind */
.logo {
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.7rem;
}

li {
  font-family: 'Karla', sans-serif;
  position: relative;
}

ul a::before {
  content: "";
  width: 50%;
  height: 1.5px;
  background-color: #818cf8;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) scaleX(0%);
  border-radius: 5px;
  transition: transform .3s ease;
}

a:hover::before {
  transform: translate(-50%) scaleX(1);
}

/* .move-button {
  transform: translateX(0px);
  transition: all .6s cubic-bezier(.19,1,.22,1);
}

.move-button:hover {
  transform: translateX(1px);
} */


h1, h2 {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
}

h2 {
  font-weight: 900;
}

h3 {
  color: #4b5563;
  font-family: 'Karla', sans-serif;
}

body {
  font-family: 'Karla', sans-serif;
}


.container-wrapper {
  position: relative;
}

p {
  color: #475569;
}




.btn {
  overflow: hidden;
  position: relative;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.btn::after {
	background-color: #818cf8;
  border-radius: 0.2rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  transform-origin: left;
  transition: .4s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.btn:hover {
  will-change: transform;
}


.btn:hover:after {
  transform: translate(0, 0);
}



.wrap-img img {
  max-height: 360px;
  width: 100%;
  object-fit: contain;
}


/* ANIMAZIONI */
.hide-rigth {
  opacity: 0;
  /* transform: translateX(100px); */
  filter: blur(5px);
  /* overflow: hidden; */
  transition: all 1s ease-in
}

.hide-left {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(5px);
  /* overflow: hidden; */
  transition: all 1s ease-in
}

.hide-top {
  opacity: 0;
  transform: translateY(-100px);
  filter: blur(5px);
  /* overflow: hidden; */
  transition: all 1s ease-in
}

.show-anim {
  /* background-color: aqua; */
  filter: blur(0);
  transform: translate(0);
  opacity: 1;
}

.delay-anim {
  transition-delay: 700ms;
}


